<form name="test_espositore" action="http://maps.mido.com:8080/Mappe/it/add-espositore" method="post">
Id Tecsia (ID offerta): <input type="text" name="id"><br/>
Id Tecsia (ID offerta anno precedente): <input type="text" name="id_last_year"><br/>
Nome espositore: <input type="text" name="name"><br/>
Indirizzo espositore: <input type="text" name="address"><br/>
Telefono espositore: <input type="text" name="tel"><br/>
Fax espositore: <input type="text" name="fax"><br/>
E-mail espositore: <input type="text" name="email"><br/>
MQ richiesti: <input type="text" name="mqRequested"><br/>
Richiesta spostamento:<input type="radio" name="changeRequest" value="1">SI <input type="radio" name="changeRequest" value="0">NO<br/>
Token: <input type="text" name="token" value="_t3c514_" readonly><br/>
<input type="submit" value="Submit">
</form>