<form action="http://maps.mido.com:8080/Mappe/it/json/image-upload" method="post" enctype="multipart/form-data" name="form_upload">
  <input type="file" name="img"><br>
  <input type="text" name="customerId" value="1"><br>
  <input type="submit" value="Submit">
</form>