section#designer { top: 50px; bottom: 0; }
section#designer > #svgContainer { top: 0; left: 0; }
section#designer > #statusBar > #zoomControl > #zoomPin { top: -13px; }
body > header {
  border-bottom: 1px solid #999;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}
