<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it"> 
<head>
	<title>GWCWorld Mappe</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="Content-Language" content="it" />
	<meta name="description" content="GWCWorld Mappe" />
	<meta name="keywords" content="GWCWorld Mappe" />
	<meta name="author" content="GWCWorld" />	
</head>
<body>
<p><b>Dati di login</b></p>
<p>E-mail: ${email}</p>
<p>Password: ${password}</p>
<p>Link di conferma e-mail ed attivazione account: <a href="http://maps.mido.com/it/attiva-utente/${doubleOptIn}" target="_blank">http://maps.mido.com/it/attiva-utente/${doubleOptIn}</a></p>
</body>
</html>