<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="mappe-webapp">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="mappe-core-1.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/mappe-core/mappe-core">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mappe-util-1.0-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/mappe-util/mappe-util">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="Mappe"/>
        <property name="java-output-path" value="/mappe-webapp/target/classes"/>
    </wb-module>
</project-modules>
